<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">


    <link rel="stylesheet" href="https://cdn.staticfile.net/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue"></script>
    <style>


    .elinput1 .el-input__wrapper {
        background-color: #2c2c2c;
        box-shadow:0 0 0 0px
    }

    /* 自定义滚动条区域 */
    .scroll-container {
      max-height: 700px; /* 设置最大高度 */
      overflow: auto;
    }
    #copy-btn {
        background-color: #2c2c2c;
        width: 5%;
        border: none;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        position: absolute;
        bottom: 0;
        height: 96%;
        right: 10%;

        z-index: 100;
    }

    #copy-btn.disabled {
        pointer-events: none;
        /* 禁止按钮点击事件 */
        opacity: 0.3;
        /* 按钮变成半透明显示，表示禁用状态 */
    }

    /* Textarea styles */
    #t4 {
        bottom: 0;
        white-space: pre-wrap;
        background-color: #2c2c2c;
        height: 100%;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 14px;
        resize: none;
        overflow-y: scroll;
        /* 允许垂直滚动 */
        overflow-x: hidden;


        /* 设置滚动条宽度为1px */
        scrollbar-color: #2c2c2c transparent;
        /* 设置滑块颜色和轨道透明 */
        padding-right: 10%;
        left: 3%;
        width: 95%;
        position: absolute;

    }
    #de4 {
        position: absolute;
        bottom: 0;
        height: 15%;

    }


  </style>
</head>
<body style="background-color: black">

<div id="app" style="height:950px">
    <div class="tree-container" style="position: relative;height: 100%">
        <el-row >
        <el-input
            v-model="filterText"
            placeholder="Type"
            clearable
            :prefix-icon="Searchic"
            style="background-color: black"
            class="elinput1"
        >
        </el-input>
        </el-row>
        <el-row class="row">
            <el-scrollbar class="scroll-container">
                <el-tree
                    :data="fileTreeData"
                    :props="treeProps"
                    ref="tree"
                    show-checkbox
                    @node-contextmenu="handleEvents"
                    accordion
                    :filter-node-method="filterNode"
                    draggable
                    style="background-color: #2c2c2c;  color: white;    --el-tree-node-hover-bg-color: #4b85dd;"
                >
                </el-tree>
            </el-scrollbar>
        </el-row>
         <div id="de4" style="left: 0; width: 100%;">
                <!-- 切换侧边栏按钮 -->

                <div style="
                height: 60%;
                width: 100%;
                bottom: 0;
                position: absolute;">
                    <textarea rows="40" cols="50" placeholder="Please enter your code requirements here." id="t4" v-model="chinese"></textarea>
                    <button v-if="!isDisabled" :disabled="isDisabled" id="copy-btn"
                        style="font-size:24px;color:rgb(0, 153, 255)" @click="rawchinese"
                        :disabled="chinese.trim().length === 0" title="Please use caution when refactoring all modules of the current project."><i
                            class="fa fa-paper-plane"></i></button>
                    <button v-if="isDisabled" :disabled="isDisabled" id="copy-btn"
                        style="font-size:24px;color:rgb(0, 153, 255)" @click="rawchinese"
                        :disabled="chinese.trim().length === 0" title="Please use caution when refactoring all modules of the current project."><i
                            class="fas fa-spinner fa-spin"></i></button>
                </div>
         </div>
        <el-dialog title="New Folder" v-model="newFolderDialogVisible">
            <el-input v-model="newFolderName" placeholder="Enter folder name"></el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="newFolderDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addNode()">Create</el-button>
            </span>
        </el-dialog>
        <el-dialog title="New File" v-model="newFileDialogVisible">
            <el-input v-model="newFileName" placeholder="Enter file name"></el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="newFileDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addNode()">Create</el-button>
            </span>
        </el-dialog>
    </div>
</div>

<script>
    const { createApp, ref,watch ,onMounted} = Vue;
    const { ElTree, ElDialog, ElButton, ElInput,ElScrollbar } = ElementPlus;
     const { Calendar, Search } = ElementPlusIconsVue; // 从全局对象获取图标
    const app = createApp({
        components: {
            ElScrollbar,
            ElTree,
            ElDialog,
            ElButton,
            ElInput,
            Calendar,
            Search
        },
        setup() {
            const textarea1 = ref('')
            const Searchic = Search;
            const filterText = ref('')
            const tree = ref(null);
            const filterNodeMethod = (node, query) => {
              return node.label.toLowerCase().includes(query.toLowerCase());
            };

            watch(filterText, (val) => {
              if (tree.value) {
                tree.value.filter(val,filterNodeMethod); // 调用树组件中的 filter 方法
              }
            });
            const filterNode = (value, data) => {
              if (!value) return true
              return data.label.includes(value)
            }
            const currentNode = ref(null);
            // 处理节点点击事件
            function handleNodeClick(data){
              currentNode.value = data;
            }

            // 动态添加节点
            const addNode = () => {
              parentNode = currentNode
              if (!parentNode) return; // 如果没有选中父节点，则不执行添加

              const newNode = {
                label: "新节点",
                children: [] // 默认新节点没有子节点
              };

              // 如果是叶子节点，直接加入子节点数组
              if (parentNode.value.data.children) {
                parentNode.value.data.children.push(newNode);
              } else {
                // 如果当前节点没有children，说明是叶子节点，直接将新节点变成该节点的父节点
                parentNode.value.data.children = [newNode];
              }

              fileTreeData.value = [...fileTreeData.value];
            };
            const fileTreeData = ref([
              {
                label: "节点1",
                children: [
                  {
                    label: "子节点1-1",
                    children: [
                      {
                        label: "子节点1-1-1",
                        children: []
                      }
                    ]
                  }
                ]
              },
              {
                label: "节点2",
                children: []
              },
              {
                label: "节点3",
                children: [
                  {
                    label: "子节点3-1",
                    children: [
                      {
                        label: "子节点3-1-1",
                        children: []
                      }
                    ]
                  }
                ]
              },
              {
                label: "节点4",
                children: [
                  {
                    label: "子节点4-1",
                    children: [
                      {
                        label: "子节点4-1-1",
                        children: []
                      }
                    ]
                  }
                ]
              },
              {
                label: "节点5",
                children: [
                  {
                    label: "子节点5-1",
                    children: [
                      {
                        label: "子节点5-1-1",
                        children: []
                      },
                      {
                        label: "子节点5-1-2",
                        children: []
                      }
                    ]
                  },
                  {
                    label: "子节点5-2",
                    children: [
                      {
                        label: "子节点5-2-1",
                        children: []
                      }
                    ]
                  }
                ]
              },
            ]);

            const treeProps = {
                children: 'children',
                label: 'label',
            };

            const newFolderDialogVisible = ref(false);
            const newFileDialogVisible = ref(false);
            const newFolderName = ref('');
            const newFileName = ref('');
            let isMenu = false;  // 标记方法是否正在执行
            onMounted(() => {
                 document.addEventListener('mousedown', handleMouseDown);
            });
            function handleMouseDown(event) {
              const div = document.querySelector('#menu'); // 目标 div
              if (div && !div.contains(event.target)) {
                // 鼠标按下不在 div 内的区域，执行的操作
                console.log('Mouse down happened outside the div');
                document.body.removeChild(div);
                isMenu = false
              }
            }
            const handleContextMenu = (event) => {
                if(isMenu){
                    return
                }
                isMenu = true
                event.preventDefault();

                const menu = document.createElement('div');
                menu.style.position = 'absolute';
                menu.style.top = `${event.clientY}px`;
                menu.style.left = `${event.clientX}px`;
                menu.style.backgroundColor = '#fff';
                menu.style.border = '1px solid #ddd';
                menu.style.padding = '5px';
                menu.style.zIndex = '1000';
                menu.id = 'menu';
                menu.addEventListener('mousedown',(event) => {

                });
                const createFolderOption = document.createElement('div');
                createFolderOption.textContent = 'New Folder';
                createFolderOption.style.padding = '5px';
                createFolderOption.addEventListener('click', () => {
                    newFolderDialogVisible.value = true;
                    document.body.removeChild(menu);
                    isMenu = false
                });

                const createFileOption = document.createElement('div');
                createFileOption.textContent = 'New File';
                createFileOption.style.padding = '5px';
                createFileOption.addEventListener('click', () => {
                    newFileDialogVisible.value = true;
                    document.body.removeChild(menu);
                    isMenu = false
                });

                menu.appendChild(createFolderOption);
                menu.appendChild(createFileOption);

                document.body.appendChild(menu);
            };
            function handleEvents(event,node,data) {
                handleContextMenu(event);
                handleNodeClick(data);
            }


            return {
                tree,
                handleEvents,
                fileTreeData,
                treeProps,
                newFolderDialogVisible,
                newFileDialogVisible,
                newFolderName,
                newFileName,
                handleContextMenu,
                currentNode,
                handleNodeClick,
                addNode,
                filterText,
                filterNode,
                Searchic,
                textarea1,
                isMenu
            };
        }
    }).mount('#app');

</script>

</body>
</html>
